<!-- <section class="header">

  <a [routerLink]="['add/user']" [routerLinkActive]="['activeLink']">add</a>   
 
</section>


<section  [ngClass]="['routesesction']">
  <router-outlet></router-outlet>
</section> -->

<!-- 
<div>
  <app-user></app-user>
</div>
<div>
  <app-adduser></app-adduser>
</div> -->

<!-- <div>
  <app-updateuser></app-updateuser>
</div> -->

<section class="Home">
  <app-home></app-home>
</section>

<section  [ngClass]="['routesesction']">
  <router-outlet></router-outlet>
</section>

